@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="@Url.Content("~/ckfinder/userfiles/images/Me.png")" width="275" height="300"/>
<h2><b>Özgeçmiş</b></h2>
<p><b>Kişisel Bilgiler</b></p>
<p>Adı Soyadı : Şahım Giray KIVANÇ</p>
<p>Doğum Yeri : Eskişehir</p>
<p>Doğum Tarihi : 02/04/1994</p>
<p><b>EĞİTİM DURUMU </b></p>
<p>Lise Öğrenimi : Fatih Anadolu Lisesi</p>
<p>Bildiği Yabancı Diller : İngilizce</p>
<p><b>İŞ DENEYİMİ </b></p>
<p>TürkMet Test ve Kalibrasyon Labaratuvarları - Staj 2014 </p>
<p><b>İLETİŞİM</b> </p>
<p>E-posta Adresi: sahimgiray94@gmail.com</p>