@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Blog</h1>
    <p class="lead">This is the Term Project for Web Technology Aplications</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Instuctions</h2>
        <p>
           You can find the details about myself in About page. My resume and my photo will be there.
            Article page consists of articles that are formed according to requirements.
        </p>
        
    </div>
   </div>
    