@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Blog</h1>
    <p class="lead">This is the Term Project for Web Technology Aplications</p>
    
</div>

<div class="columns_1">
    <div class="col-md-4">
        <h2>Instuctions</h2>
        <p>
           You can find the details about myself in About page. My resume and my photo will be there.
            Article page consists of articles that are formed according to requirements.
        </p>
        
    </div>
   </div>

<div class="columns_1">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            Components used in this project. Entity Framework 6, PagedList.MVC, ckeditor, ckfinder
            Code First approach is used in this project. We have only one table named Articles. 
            An Article has a Title, Date, Author and Content. I delete the parts about the Date from
            the views. Whenever a user create a post program takes the current time and saves the Article 
            according to it. For the content part of the post I used ckeditor. For the image uploads I used
            ckfinder.
        </p>

    </div>
</div>
    